<div class ="author">
    <h1 class = "author_heading">Hi, I am Earth</h1>
    <p class="author__body">Unemployed Person</p>
</div>

<img src="/img/WreathBarameeLogo.png" alt="WreathBarameeLogo" class="logo" width="700" height="900"> 

<section class="articles">
    <h2 class ="articles_heading">lastest posts</h2>
    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class = "article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href = "#" class="pagination">&lt; View Older</a>
    
</section>
